.CountryStyle{
    float: left;
    color: white;
    font-weight: 500;
    margin: 1rem;
    width: 18rem;
    height: 15rem;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: rgb(22, 36, 28);
}
